<br>
<br>
<br>


<button (click)="addCar()" class="btn btn-primary">Добавит Машину</button>
<p>{{addCarStatus}}</p>
<hr>

<app-car></app-car>
<app-car></app-car>


<input type="text" class="form-control" (keyup.enter)="onKetUp($event)">
<br>
<input type="text" class="form-control" [(ngModel)]="inputText">

<p>{{ inputText }}</p>

